.header-wrapper{
    background-color: #7441F3;
    padding-top: 5rem;
    height: 224px;
    margin-bottom: 8rem;
    margin-left: -420px;
}

.container-wrapper {
border-radius: 15px;
max-width: 1655px;
height: 195px;
display: grid;
align-items: center;
margin-left: 420px;
}

.left-container {
    margin: 2rem;
    float: left;
}

.right-container {
    margin-top: 3.5rem;
    margin-right: 2rem;
    float: right;
}

.room-left{
    margin: 3.8rem !important;
}

.room-right{
    margin: 3rem !important;
}

@media screen and (max-width: 1050px) {
    .header-wrapper{
        margin-bottom: 15rem;
        width: 95rem;
    }
}