@use "../../styles/colors.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#7441F3 50%, #F8F8F8 50%);
}

.login-redirect {
    position: absolute;
    bottom: 20%;
}