@use "../../styles/colors.scss";

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#7441F3 50%, #F8F8F8 50%);
}

