.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    position: relative;
}

.progress-image {
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    bottom: 0;
}

.typography{
    color: #7441F3;
    text-align: center;
    font-weight: 900;
    margin-top: 15px !important;
}